                       /*	Login	*/
h2{
	font-family: 'Comfortaa', serif;
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 20px;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}
.login{
	width: 320px;
    height: 420px;
    border: 2px solid;
    border-radius: 90px 90px 90px 90px;
    color: #fff;
    background-color: rgb(0,0,80,0.6);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 68px 20px;
}
.login p{
    margin: 0;
    padding: 0%;
    font-weight: bold;
    font-family: 'Comfortaa', serif;
}
.login input{
    width: 100%;
    margin-bottom: 21px;
}
.login input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 30px;
    color:white;
    font-size: 12px;
}
.login input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    color: #000000;
    background: #fff;
    border-radius: 30px;
    transition: 0.2s;
    font-family: 'Comfortaa', serif;
}
.login input[type="submit"]:hover{
    cursor: pointer;
    background: lightgray;
    transition: 0.2s;
}
.login a{
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: white;
    transition: 0.2s;
}
.login a:hover{
    transition: 0.2s;
    color: lightgray;
}
                        /* Tema dia do site */
.day{
    background-color:midnightblue;
}
                        /* Topo do site css */
.day .topo {
    overflow: hidden;
    background-color: midnightblue;
    position: fixed;
    top:0;
    width: 100%;
    border-top: black  solid 2px;
    border-bottom: black  solid 2px;
}
.day .topo a{
    float:left;
    display: block;
    color: white;
    text-align: center;
    padding: 1% 8%;
    text-decoration: none;
    font-size: 18px;
}
.day .topo1{
    position: relative;
    top:0;
    padding:0px 5%;
    right:0%;
    border-top: black  solid 2px;
}
.day .topo1 a{
    float:center;
    display: block;
    text-align: center;
    border-radius: 10%;
}
.day .topo1 a:hover{
    background: dodgerblue;
    color:white;
}
.day .topo1 img{
    height: 30px;
    width: 30px;
}
                        /* Configurações */
.topoconfig{
    position: fixed;
    right:0%;
    top:-0.5%;
    color:midnightblue;
    float: left;
}

.topoconfig a:hover{
    background: dodgerblue;
    color:white;
}

.topoconfig a{
    float:left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    background-color:midnightblue;
    padding:1px;
    border-radius: 10%;
}
.topoconfig img{
    height: 30%;
    width: 30%;
}
.topoconfig li{
    position:relative;
    float:left;
}

.topoconfig li  ul{
    position:absolute;
    top:100%;
    right:0;
    display:none; /* Menu */
    padding:10px;
    width:83%;
    background-color:midnightblue;
}

.topoconfig li:hover ul, .menu li{
    display:block;
}

.day .topoconfig button:hover{
    cursor: pointer;
    background: dodgerblue;
    color:white;
}
.day .tema a:hover{
    background: midnightblue;
}
                        /* Notificação */
.day .notifi {
    overflow: hidden;
    position: fixed;
    top:25%;
    right:1%;
    width: 18%;
}
.day .notifi a{
    float:center;
    display: block;
    color: white;
    text-align: left;
    padding: 10% 4%;
    text-decoration: none;
    font-size: 18px;
}
.day .notifi a:hover{
    background: dodgerblue;
    color:white;
}
                        /* Colegas */
.day .amigo {
    overflow: hidden;
    position: fixed;
    top:9%;
    width: 14%;
    left:0px;
    height: 94%;
    background-color:midnightblue;
}
.day .amigo a{
    float:center;
    display: block;
    color: white;
    text-align: left;
    padding: 1% 4%;
    text-decoration: none;
    font-size: 18px;
}
.day .amigo img{
    width: 40px;
    height: 40px;
}
.day .amigo h1, .amigo p{
    color:white;
    text-align: center;
}
.day .amigo input[type="submit"]{
    border: none;
    outline: none;
    height: 5%;
    width: 100%;
    font-size:100%;
    color: #000000;
    background: #fff;
    border-radius: 30px;
    transition: 0.2s;
    font-family: 'Comfortaa', serif;
}
                        /* Feed */ 
.feed {
    margin-left: 14%;
    margin-top: 6%;
    width: 60%;
    height: 100%;
    border: 2px solid black;
    color: white;
    background-color: rgb(45,45,45);
    top: 49%;
    left: 20%;
    position: absolute;
    transform: translate(-30%, -50%);
    padding: 1% 3%;
}
.feed input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    font-size:120%;
    color: #000000;
    background: #fff;
    border-radius: 30px;
    transition: 0.2s;
    font-family: 'Comfortaa', serif;
}
.feed p{
    margin-left:2%;
}
.feed img{
    position: relative;
    height:60%;
    width:100%;
    border:1px solid;
}
                        /* Comentario */
.coment input{
    width: 70%;
}
.coment input[type="text"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 20%;
    color:white;
    font-size: 12px;
}
                        /* Fórum */
.forum {
    margin-left: 30%;
    width: 95%;
    height: 12%;
    border: black 2px solid;
    color: black;
    background-color: white;
    top: 10%;
    position: relative;
    transform: translate(-30%, -50%);
    padding: 1% 3%;
}
.forum input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    font-size:120%;
    color: #000000;
    background: #fff;
    border-radius: 30px;
    transition: 0.2s;
    font-family: 'Comfortaa', serif;
}
.forum a{  
    color:black;
}
                        /* Filtro */
.day .filtro {

    width: 22%;
    height: 10%;
    color: white;
    background-color: midnightblue;
    top: 14%;
    left: 87%;
    position: fixed;
    transform: translate(-30%, -50%);
    text-align: center;
}
.day .filtro h3{
    font-size: 100%;
    text-align: center;
}
                        /* Pergunta do fórum */
.pergunta {
    margin-left: 30%;
    width: 100%;
    height: 60%;
    border: black 2px solid;
    color: black;
    background-color: white;
    top: 30%;
    position: relative;
    transform: translate(-30%, -50%);
}
.pergunta h3, .pergunta p{
    margin-left: 3%;
}
                        /* Resposta do fórum */
.resposta {
    margin-left: 30%;
    width: 100%;
    height: 14%;
    border: black 2px solid;
    color: black;
    background-color: white;
    top: 10%;
    position: relative;
    transform: translate(-30%, -50%);
}
.resposta h3, .resposta p{
    margin-left: 3%;
}
                        /* Perfil */
.perfil{
    margin-left: 39%;
    margin-top: 29%;
    width: 86%;
    height: 91%;
    border: 2px solid black;
    color: white;
    background-color: rgb(45,45,45);
    position: absolute;
    transform: translate(-30%, -50%);
}
.perfil img{
    padding: 2%;
}
.perfil p{
    font-size: 120%;
    text-align: left 2%;
    padding:2%;
}
.perfil input[type="submit"]{
    margin-left:5%;
    border: none;
    outline: none;
    height: 40px;
    width: 20%;
    font-size:120%;
    color: #000000;
    background: #fff;
    border-radius: 30px;
    transition: 0.2s;
    font-family: 'Comfortaa', serif;
}
                    /* Bibliografia do perfil */
.bibliografia {
    margin-left: 25%;
    margin-top: 0%;
    width: 70%;
    height: 36%;
    color: white;
    background-color: rgb(45,45,45);
    position: absolute;
}
.bibliografia h1{
    color:white;
    text-align: center;
}
                        /* Tema noturno do site */
.night{
    background-color:rgb(30,30,30);
}
                    /*Modo noturno Topo*/
.night .topo {
    overflow: hidden;
    background-color: rgb(30,30,30);
    position: fixed;
    top:0;
    width: 100%;
    border-top: rgb(40,40,40)  solid 2px;
    border-bottom: rgb(30,30,30)  solid 2px;
}
.night .topo a{
    float:left;
    display: block;
    color: white;
    text-align: center;
    padding: 1% 8%;
    text-decoration: none;
    font-size: 18px;
}
.night .topo1{
    position: relative;
    top:0;
    padding:0px 5%;
    right:0%;
    border-top: rgb(40,40,40)  solid 2px;
}
.night .topo1 a{
    float:center;
    display: block;
    text-align: center;
    border-radius: 10%;
}
.night .topo1 a:hover{
    background: rgb(60,60,60);
    color:white;
}
.night .topo1 img{
    height: 30px;
    width: 30px;
}
                        /* Configurações Modo noturno */
.night .topoconfig{
    position: fixed;
    right:0%;
    top:-0.5%;
    color:rgb(30,30,30);
    float: left;
}

.night .topoconfig a:hover{
    background: rgb(60,60,60);
    color:white;
}

.night .topoconfig a{
    float:left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    background-color:rgb(30,30,30);
    padding:1px;
    border-radius: 10%;
}
.night .topoconfig img{
    height: 30%;
    width: 30%;
}
.night .topoconfig li{
    position:relative;
    float:left;
}

.night .topoconfig li  ul{
    position:absolute;
    top:100%;
    right:0;
    display:none; /* Menu */
    padding:10px;
    width:83%;
    background-color:rgb(30,30,30);
}

.night .topoconfig li:hover ul, .menu li{
    display:block;
}

.night .topoconfig button:hover{
    cursor: pointer;
    background: rgb(60,60,60);
    color:white;
}
.night .tema a:hover{
    background: rgb(30,30,30);
}
                        /* Notificação  Modo noturno*/
.night .notifi {
    overflow: hidden;
    position: fixed;
    top:25%;
    right:1%;
    width: 18%;
}
.night .notifi a{
    float:center;
    display: block;
    color: white;
    text-align: left;
    padding: 10% 4%;
    text-decoration: none;
    font-size: 18px;
}
.night .notifi a:hover{
    background: rgb(60,60,60);
    color:white;
}
                        /* Colegas Nightmode*/
.night .amigo {
    overflow: hidden;
    position: fixed;
    top:9%;
    width: 14%;
    left:0px;
    height: 94%;
    background-color:rgb(30,30,30);
}
.night .amigo a{
    float:center;
    display: block;
    color: white;
    text-align: left;
    padding: 1% 4%;
    text-decoration: none;
    font-size: 18px;
}
.night .amigo img{
    width: 40px;
    height: 40px;
}
.night .amigo h1, .amigo p{
    color:white;
    text-align: center;
}
.night .amigo input[type="submit"]{
    border: none;
    outline: none;
    height: 5%;
    width: 100%;
    font-size:100%;
    color: #000000;
    background: #fff;
    border-radius: 30px;
    transition: 0.2s;
    font-family: 'Comfortaa', serif;
}
                        /* Filtro */
.night .filtro {
    width: 22%;
    height: 10%;
    color: white;
    background-color: rgb(30,30,30);
    top: 14%;
    left: 87%;
    position: fixed;
    transform: translate(-30%, -50%);
    text-align: center;
}
.night .filtro h3{
    font-size: 100%;
    text-align: center;
}